@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Stylish;
  src: url("./fonts/Stylish/Stylish-Regular.ttf");
}
@font-face {
  font-family: NewRocker;
  src: url("./fonts/NewRocker/NewRocker-Regular.ttf");
}
@font-face {
  font-family: AvertaStd;
  src: url("./fonts/AvertaStd/FontsFree-Net-AvertaStandard-Regular.ttf");
}
.averta {
  font-family: "AvertaStd";
}
.poppins {
  font-family: "Poppins";
}
.stylish {
  font-family: "Stylish";
}
.newrocker {
  font-family: "NewRocker";
}
body {
  font-family: "AvertaStd";
  overflow-x: hidden;
}
.auth-image {
  height: 100vh;

  background: url("./images/auth_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.auth-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.input-control > label {
  color: rgb(120, 120, 120);
}

input {
  width: 100%;
  border: 1px solid rgb(120, 120, 120);
  padding: 5px;
  border-radius: 6px;
}

.form-control{
  border: 1px solid rgb(120, 120, 120);
}
.btn-cat {
  width: 50%;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  border: none;
  outline: none;
}
.btn-yellow {
  background-color: #ffcc01;
}

.navbar {
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0.5rem 1rem;
}

.navbar-brand img {
  width: 40px;
  height: auto;
  margin-left: 20px;
}

.btn-warning {
  padding: 0.5rem 1rem;
  margin-right: 40px;
  background-color: #ffcc01;
}

.btn-warning:hover {
  border:black;
  background-color: #000000;
  color:#ffcc01;
}
.carousel-container {
  width: 100%;
  max-width: 1200px;
  margin:50px auto;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; 
  height: 200px;
}

.concave-effect {
  width: 100%;
  height: 100%;
  border-radius: 20px; 
  filter: contrast(1.2) brightness(0.9);
}

.center-img {
  rotate: none;
  transform: perspective(0px);
}

.side-img {
  transform: perspective(1000px) rotateX(10deg); 
}

.side-img:hover {
  transform: perspective(1000px) rotateX(5deg); 
}

.swiper-button-prev, .swiper-button-next {
  color:#ffcc01;
}

.swiper-pagination-bullet-active {
  background: #ffcc01;
}

.loading-animation{
  width:100%;
}